body {
	background-color: #EEE;
	font-family: Comic Sans MS;
}

a {
	text-decoration: none;
	color: blue;
}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	
}
#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: 600px;
	float: right;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}
